---
layout: default
---

{% include head.html %}

<div class="row page-row">
    <div class="8u -2u 10u(small) -1u(small)">
        <div class="row">
            <div class="12u">
                <h1 class="page-title">365<span style="font-weight: normal;">Papers</span></h1>
                <div class="intro-text">
                    <div class="row">
                        <div class="12u(small)">
                            <p>
                                Starting August 16, 2017, I've decided to read one academic paper
                                every day for 365 days. The topics are intended to span
                                <b>Machine Learning</b>, <b>Neuroscience</b>, <b>Computer Vision</b>,
                                and <b>Computational Medicine</b>, with other topics thrown in for
                                seasoning.
                            </p>
                            <p>
                                Points of focus:
                                <ul>
                                    <li>fair representation of minorities, women in science</li>
                                    <li>recent papers, or "classics"</li>
                                    <li>document here, and in Mendeley</li>
                                </ul>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="12u" id="readout"></div>
            </div>
        </div>
    </div>

    <div class="posts">
        {% for post in site.posts %}
            <article class="post">

              <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

              <div class="entry">
                {{ post.excerpt }}
              </div>

              <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
            </article>
        {% endfor %}
    </div>

</div>
