---
layout: default
---

{% include head.html %}

<div class="row page-row">
    <div class="8u -2u 10u(small) -1u(small)">
        <div class="row">
            <div class="12u">
                <div class="row">
                    <div class="12u">
                        <h1 class="page-title">365<span style="font-weight: normal;">Papers</span>
                        </h1>
                        <div class="intro-text">
                            <div class="row">
                                <div class="12u(small)">
                                    <p>
                                        Starting August 16, 2017, I've decided to read one academic paper
                                        every day for 365 days. The topics are intended to span <b>Machine Learning</b>,
                                        <b>Neuroscience</b>, <b>Computer Vision</b>, and
                                        <b>Computational Medicine</b>, with other topics thrown in for
                                        seasoning.
                                    </p>
                                    <p>
                                        Points of focus:
                                    </p>

                                </div>
                            </div>
                        </div>
                        <div class="12u">
                            <!-- Post Listing -->
                            {% for post in site.posts %}

                            {% capture this_month %}{{ post.date | date: "%B" }}{% endcapture %}
                            {% capture next_month %}{{ post.previous.date | date: "%B" }}{% endcapture %}

                            <div class="row topic-row">
                                <div class="3u not-small">
                                    {% if this_month != next_month %}
                                    <div class="light-border-top">
                                        <span class="type-brandon left-header">
                                            {{ post.date | date: "%B" }}
                                        </span>
                                    </div>
                                    {% endif %}
                                </div>
                                <div class="9u 12u(small)">
                                    <div class="light-border-top">
                                        <div class="right-content">
                                            {% if this_month != next_month %}
                                            <div class="12u type-brandon only-small small-header year-header">
                                                {{ post.date | date: "%B" }}
                                            </div>
                                            {% endif %}
                                            <div class="right-paragraph 12u">
                                                <h2>
                                                    <a href="{{ site.baseurl }}{{ post.url }}">
                                                        {{ post.date | date: "%d" }} &mdash; {{ post.title }}
                                                    </a>
                                                </h2>
                                                <p>{{ post.excerpt }}</p>
                                                {% if this_month != next_month %}
                                                <div class="sep"></div>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {% endfor %}
                            <!-- End Post Listing -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
