---
layout: default
---

{% include head.html %}


<div class="row page-row">
    <div class="8u -2u 10u(small) -1u(small)">
        <div class="row">
            <div class="12u">
                <div class="row">
                    <div class="12u">
                        <h1 class="page-title">{{ page.slug }} &mdash; {{ page.title }}</h1>
                        <p>
                            {% if page.doi %}
                            <a href="https://doi.org/{{ page.doi }}">{{ page.byline }} ({{ page.doi }})</a>
                            {% endif %}
                            {% if page.arxiv %}
                            <a href="https://arxiv.org/abs/{{ page.arxiv }}">{{ page.byline }} ({{ page.arxiv }})</a>
                            {% endif %}
                            {% if page.url %}
                            <a href="{{ page.url }}">{{ page.byline }} ({{ page.url }})</a>
                            {% endif %}
                        </p>
                        <small>Read on {{ page.date | date_to_long_string }}</small>
                        <div class="intro-text">
                            <div class="row">
                                <div class="12u(small)">
                                    {{ content }}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



{% include foot.html %}
